<% unless controller.controller_name == 'splash' %>
  <header class='d-flex justify-content-center bg-main text-light pt-3'>
    <% if controller.controller_name == 'groups' && controller.action_name == 'index' %>
      <button class="btn fixed-top-left pt-3 btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        <i class="bi bi-list text-light"></i>
      </button>
    <% end %>
    <h1>
      <%= page_title %>
    </h1>
  </header>
<% end %>
