<header>
  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    <i class="bi bi-list"></i>
  </button>
  <h1>
    <%= page_title %>
  </h1>
</header>
